.img-fluid {
    height: 250px;
}

.title {
    background: linear-gradient(lightblue, midnightblue, black);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 10% 25%;
      }
    50% {
        background-position: 50% 100%;
      }
    100% {
        background-position: 0% 25%;
      }
}

.get-info {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.data {
  justify-self: center;
}

.data button{
  background-color: midnightblue;
  border: none;
  border-radius: 10px;
}

.get-data button:hover {
  background-color: white;
  color: black;
}