.email,
.password {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
body {
    background: radial-gradient(red, blue, green);
    animation: gradient-animation 18s ease infinite;
    background-size: 180% 180%;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}