body {
    background: radial-gradient(red, blue, green);
    animation: gradient-animation 18s ease infinite;
    background-size: 180% 180%;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.form-signin {
  background-color: rgb(29, 30, 31);
  border: 5px solid grey;
  border-radius: 10px;
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  height: 50vh;
  width: 60%;
  background: linear-gradient(transparent, slategrey, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}
