.background {
    background-image:url(forest.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}
h1 {
    color: white;
}
h3 {
    color: white;
}
h4{
    color: white;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    border-radius:5px;
}
ol {
    background-color: lightblue;
    color: red;
    border-radius: 5px;
}
img {
    height: 300px;
    width: 300px;
    border: 5px;
    border-radius: 150px;
    background-color: black;
}
body {
    text-align: center;
}
li {
    padding: 10px;
}
figure {
    text-align: center;
}